<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Desktop.Analyzers" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="NUnit" version="3.9.0" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net45" />
  <package id="System.Runtime.Analyzers" version="1.1.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.1.0" targetFramework="net45" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.1.0" targetFramework="net45" />
  <package id="Text.Analyzers" version="2.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="XMLUnit.Core" version="2.5.1" targetFramework="net45" />
  <package id="XMLUnit.NUnit3.Constraints" version="2.5.1" targetFramework="net45" />
  <package id="YamlDotNet" version="4.3.0" targetFramework="net45" />
</packages>