<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Desktop.Analyzers" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="1.1.0" targetFramework="net45" />
  <package id="NUnit" version="3.6.1" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.6.1" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net45" />
  <package id="System.Runtime.Analyzers" version="1.0.1" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.0.1" targetFramework="net45" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.1.0" targetFramework="net45" />
  <package id="XMLUnit.Core" version="2.3.1" targetFramework="net45" />
  <package id="XMLUnit.NUnit3.Constraints" version="2.3.1" targetFramework="net45" />
  <package id="YamlDotNet" version="5.1.0" targetFramework="net45" />
</packages>